<div>
    <div class="module-header row">
        <h2>游戏管理&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-sm btn-primary" type="button" ng-click="modifyItem()">创建游戏</button>
        </h2>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered table-bc">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>介绍</th>
                        <th>创建时间</th>
                        <th>是否开放</th>
                        <th>推荐</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in list">
                        <td>{{item.name}}</td>
                        <td>{{item.intro}}</td>
                        <td>{{item.created}}</td>
                        <td>{{item.public === '0' ? '未开放':'已开放'}}</td>
                        <td>{{item.status|lottoStatus}}</td>
                        <td>
                            <button class="btn btn-link" ng-click="modifyItem(item)">修改</button>
                            <button class="btn btn-link" ng-click="modifyItem(item)">玩法</button>
                            <button class="btn btn-link" ng-click="deleteItem(item)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="pagination-wrap text-center">
                    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage"
                                class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;"
                                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="deleteModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">删除分组</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger alert-dismissable clearfix">
                <div><span>确认删除“{{deleteItem.name}}”信息。</span></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="confirmDeleteItem(deleteItem)">确认删除</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>
        </div>
    </script>
    <script type="text/ng-template" id="modifyModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">修改游戏</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="input3" class="col-sm-3 control-label">游戏名称</label>

                    <div class="col-sm-9">

                        <input type="text" class="form-control" ng-required="true" popover="游戏名称不能为空!"
                               popover-trigger="focus" ng-model="modifyItem.name"
                               id="input3">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input5" class="col-sm-3 control-label">游戏介绍</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-required="true" popover="游戏详细介绍"
                               popover-trigger="focus" ng-model="modifyItem.intro" id="input5">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">是否开放</label>

                    <div class="col-sm-9">
                        <div class="radio">
                            <label><input type="radio" name="optionsRadios" ng-model="modifyItem.public"
                                          value="1">开放</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optionsRadios" ng-model="modifyItem.public"
                                          value="0">关闭</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">游戏推荐</label>

                    <div class="col-sm-9">
                        <div class="radio">
                            <label><input type="radio" name="optionsRadiosStatus" ng-model="modifyItem.status"
                                          value="hot">热门游戏</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optionsRadiosStatus" ng-model="modifyItem.status"
                                          value="new">最新游戏</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optionsRadiosStatus" ng-model="modifyItem.status" value="">无</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary" ng-click="confirmModifyItem(modifyItem)">确认修改
                        </button>
                        <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
</div>
