<div>
    <div class="module-header row">
        <h2>{{lottoDetail.name}}&nbsp;&nbsp;&nbsp;&nbsp;
            <!--<button class="btn btn-sm btn-primary" type="button" ng-click="modifyItem()">创建游戏</button>-->
        </h2>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--<div class="add-group-form">-->
                <!--<div class="input-group">-->
                    <!--<input type="text" class="form-control" placeholder="添加玩法分组" />-->
                  <!--<span class="input-group-btn">-->
                    <!--<button class="btn btn-default" type="button">添加</button>-->
                  <!--</span>-->
                <!--</div>-->
            <!--</div>-->
            <h3>
                <button  class="btn btn-sm btn-info" type="button" ng-click="modifyGroupItem()">创建玩法分组</button>
            </h3>
            <div class="list-group lotto-group-list">
                <a class="list-group-item" ng-click="process.goGroup(item)" ng-class="{active:activeGroupId == item.id}"
                   ng-repeat="item in lottoDetail.groups">{{item.name}}
                    <span class="glyphicon glyphicon-remove" ng-click="deleteGroupItem(item)"></span>
                    <span class="glyphicon glyphicon-edit" ng-click="modifyGroupItem(item)"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <h3>
                <button ng-if="activeGroupId" class="btn btn-sm btn-info" type="button" ng-click="modifyItem()">创建玩法</button>
            </h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>配置</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody ng-if="item.id == activeGroupId" ng-repeat="item in lottoDetail.groups">
                    <tr ng-repeat="method in item.methods">

                        <td>{{method.name}}</td>
                        <td>{{method.config}}</td>
                        <td>
                            <button class="btn btn-link" ng-click="modifyItem(method,'modify')">修改</button>
                            <button class="btn btn-link" ng-click="deleteItem(method)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="deleteMethodModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">删除玩法</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger alert-dismissable clearfix">
                <div><span>确认删除“{{deleteItem.name}}”信息。</span></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="confirmDeleteItem(deleteItem)">确认删除</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>
        </div>
    </script>
    <script type="text/ng-template" id="modifyMethodModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{modifyFormTitle}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="input3" class="col-sm-3 control-label">玩法名称</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-required="true" popover="分组名称不能为空!"
                               popover-trigger="focus" ng-model="modifyItem.name"
                               id="input3">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input4" class="col-sm-3 control-label">玩法配置</label>
                    <div class="col-sm-9">
                        <textarea ng-required="true" popover="玩法配置不能为空!"
                                  popover-trigger="focus" class="form-control" ng-model="modifyItem.config" id="input4"
                                  rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary" ng-click="confirmModifyItem(modifyItem)">确认修改
                        </button>
                        <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="modifyMethodGroupModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{modifyFormTitle}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="input6" class="col-sm-3 control-label">分组名称</label>

                    <div class="col-sm-9">

                        <input type="text" class="form-control" ng-required="true" popover="分组名称不能为空!"
                               popover-trigger="focus"  ng-model="modifyItem.name"
                               id="input6">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary" ng-click="confirmModifyItem(modifyItem)">确认修改
                        </button>
                        <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="deleteMethodGroupModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">删除玩法分组</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger alert-dismissable clearfix">
                <div><span>确认删除“{{deleteItem.name}}”分组及分组下所有玩法!</span></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="confirmDeleteGroupItem(deleteItem)">确认删除</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>
        </div>
    </script>
</div>
